<a href="https://colab.research.google.com/github/imaleaf03/lt/blob/main/03_baby_names.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [27]:
url = 'https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/US_Baby_Names_right.csv'
data = pd.read_csv(url, sep='\t')
data

            ,Id,Name,Year,Gender,State,Count
0              11349,11350,Emma,2004,F,AK,62
1           11350,11351,Madison,2004,F,AK,48
2            11351,11352,Hannah,2004,F,AK,46
3             11352,11353,Grace,2004,F,AK,44
4             11353,11354,Emily,2004,F,AK,41
...                                      ...
1016390     5647421,5647422,Seth,2014,M,WY,5
1016391  5647422,5647423,Spencer,2014,M,WY,5
1016392     5647423,5647424,Tyce,2014,M,WY,5
1016393   5647424,5647425,Victor,2014,M,WY,5
1016394   5647425,5647426,Waylon,2014,M,WY,5

[1016395 rows x 1 columns]

### Step 4. See the first 10 entries

In [28]:
print(data.head(10))
print(data.columns)

    ,Id,Name,Year,Gender,State,Count
0      11349,11350,Emma,2004,F,AK,62
1   11350,11351,Madison,2004,F,AK,48
2    11351,11352,Hannah,2004,F,AK,46
3     11352,11353,Grace,2004,F,AK,44
4     11353,11354,Emily,2004,F,AK,41
5   11354,11355,Abigail,2004,F,AK,37
6    11355,11356,Olivia,2004,F,AK,33
7  11356,11357,Isabella,2004,F,AK,30
8    11357,11358,Alyssa,2004,F,AK,29
9    11358,11359,Sophia,2004,F,AK,28
Index([',Id,Name,Year,Gender,State,Count'], dtype='object')

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

### Step 6. Is there more male or female names in the dataset?

In [25]:
data = pd.read_csv('/content/US_Baby_Names_right.csv')
print(data.head())
male = data[data['Gender'] == 'M']['Count'].sum()
female = data[data['Gender'] == 'F']['Count'].sum()
if male > female:
    print("there are more male names")
elif male < female:
    print("there are more female names")
else:
    print("equal")

      Id     Name  Year Gender State  Count
0  11350     Emma  2004      F    AK     62
1  11351  Madison  2004      F    AK     48
2  11352   Hannah  2004      F    AK     46
3  11353    Grace  2004      F    AK     44
4  11354    Emily  2004      F    AK     41
there are more male names

### Step 7. Group the dataset by name and assign to names

In [16]:
names = data.groupby('Name')

### Step 8. How many different names exist in the dataset?

In [17]:
data['Name'].unique()

array(['Emma', 'Madison', 'Hannah', ..., 'Braun', 'Evrett', 'Coalton'],
      dtype=object)

### Step 9. What is the name with most occurrences?

In [18]:
data['Name'].value_counts().idxmax()

'Riley'

### Step 10. How many different names have the least occurrences?

In [20]:
name_counts = data['Name'].value_counts()
min_count = name_counts.min()
names_with_min_count = name_counts[name_counts == min_count]
len(names_with_min_count)

3682

### Step 11. What is the median name occurrence?

In [21]:
data['Name'].value_counts().median()

8.0

### Step 12. What is the standard deviation of names?

In [22]:
data['Name'].value_counts().std()

122.0299635081389

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [23]:
data['Name'].value_counts().describe()

count    17632.000000
mean        57.644907
std        122.029964
min          1.000000
25%          2.000000
50%          8.000000
75%         39.000000
max       1112.000000
Name: Name, dtype: float64